<nav class="py-6 mb-14">
	<div class="flex items-center justify-between">
		<a href="/">
			<span class="text-xl font-bold font-display">StarFilm</span>
		</a>

		<ul class="flex items-center space-x-6">
			<li><a href="/">Home</a></li>
			<li><a href="/movies">Movies</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/users/profile">Profile</a></li>
			<li><a href="/users/reviews">Reviews</a></li>
			<li>
				<form action="/auth/logout" method="post">
					<button type="submit" class="btn btn-primary">Logout</button>
				</form>
			</li>
		</ul>
	</div>
</nav>
