<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/styles.css" />
	</head>

	<body class="bg-color-white">
		<div class="w-full max-w-6xl px-8 mx-auto">
			<!--  Navbar -->
			<%- include('partials/navbar') %>

			<!--  Flash Messages -->
			<%- include('partials/flash') %>

			<section class="mb-20">
				<h1 class="mb-2 text-4xl font-bold font-display">Popular Movies</h1>
				<p class="mb-8 text-base-content/60">
					<!-- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam vel libero facilis ut consequuntur
					quos ex saepe iste. Enim, laudantium. -->
				</p>

				<div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
					<%- popular.map((movie) => include('partials/movie', { movie })).join('') %>
				</div>
			</section>
		</div>
	</body>
</html>
