<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&family=Poetsen+One&display=swap"
			rel="stylesheet" />
		<link rel="stylesheet" href="/css/styles.css" />
	</head>

	<body>
		<div class="flex items-center justify-center w-full h-screen">
			<div class="w-full max-w-sm text-center">
				<h1 class="mb-2 text-5xl font-bold font-display">404</h1>
				<p class="mb-8 text-base-content/60">
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam vel libero facilis ut consequuntur
					quos ex saepe iste. Enim, laudantium.
				</p>
				<a href="/" class="btn btn-primary">Back</a>
			</div>
		</div>
	</body>
</html>
